{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Оплата - iMargat</title>
    <link rel="stylesheet" href="{% static 'bank_cart.css'%}">
</head>
<body>
    <div class="payment-container">
        <header>
            <h1>iMargat</h1>
            <p>Введите данные вашей карты для оплаты</p>
        </header>

        <form id="card-form" method="post" autocomplete="on">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Оплатить</button>
        </form>

        <footer>
            <p>Безопасная оплата © iMargat 2024</p>
        </footer>
    </div>

</body>
</html>
