{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Корзина - iMargat</title>
    <link rel="stylesheet" href="{% static 'user_cart.css' %}">
</head>
<body>
    <header>
        <h1>Корзина - iMargat</h1>
    </header>

    <main>
        <section class="cart">
            <!-- Пример карточки товара -->
            <div class="cart-item">
                {% for cart_item in cart %}
                <img src="{{ cart_item.pr_name.pr_photo.url }}" alt="{{ cart_item.pr_name }}" class="cart-item-image">
                <div class="cart-item-details">
                    <h2 class="cart-item-title">{{ cart_item.pr_name }}</h2>
                    <div class="cart-item-quantity">
                        <button class="quantity-btn">-</button>
                        <input type="number" value="1" class="quantity-input">
                        <button class="quantity-btn">+</button>
                    </div>
                    <p class="cart-item-price">{{ cart_item.pr_name.pr_price }} сум</p>
                    {% endfor %}
                </div>
            </div>

            <!-- Можно добавить больше карточек товара -->
        </section>

        <section class="cart-summary">
            <h2>Итого</h2>
            {% for c in cart %}
            <p class="total-price">Общая сумма: {{ c.pr_name.pr_price }}</p>
            <button class="checkout-btn"><a href="/bank_cart">Перейти к оформлению</button>
            {% endfor %}
        </section>
    </main>

    <footer>
        <p>© 2024 Интернет-магазин iMargat</p>
    </footer>
</body>
</html>
